:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);
}

$bp-1: 56.25em; // 900px
$bp-2: 31.25em; // 500px

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(var(--color-red), var(--color-red)),
    url(../images/bg-intro-desktop.png);
  background-blend-mode: multiply;
  color: #fff;

  display: grid;
  place-items: center;

  @media only screen and (max-width: $bp-2) {
    background: linear-gradient(var(--color-red), var(--color-red)),
      url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.main {
  width: min(90%, 112rem);

  display: flex;
  column-gap: 2rem;

  @media only screen and (max-width: $bp-1) {
    margin: 10rem 0;

    flex-direction: column;
    row-gap: 5rem;
  }

  &__text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: center;

    @media only screen and (max-width: $bp-1) {
      text-align: center;
    }
  }

  &__form-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__banner {
    background-color: var(--color-blue);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.6rem 0.1rem hsla(249, 10%, 26%, 0.301);

    display: grid;
    place-items: center;

    @media only screen and (max-width: $bp-2) {
      text-align: center;
      padding: 2rem 4rem;
    }
  }

  &__banner-text {
    font-weight: 500;
    color: var(--color-grayish-blue);

    &--bold {
      color: #fff;
      font-weight: 600;
    }
  }

  &__fieldset {
    border: none;
    background-color: #fff;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0.8rem 0.1rem hsla(249, 10%, 26%, 0.301);

    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    @media only screen and (max-width: $bp-2) {
      padding: 2rem;

      row-gap: 1rem;
    }
  }

  &__form {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__form-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__input-box {
    position: relative;
  }

  &__input {
    border: 1px solid var(--color-grayish-blue);
    border-radius: 0.5rem;
    padding: 1rem 5.5rem 1rem 2.5rem;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 600;
    color: var(--color-dark-blue);
    display: block;
    width: 100%;

    &:focus,
    &:active {
      border: 1px solid var(--color-dark-blue);
      outline: 1px solid var(--color-dark-blue);
    }

    &::placeholder {
      font-size: inherit;
      font-weight: 600;
      opacity: 0.8;
    }
  }

  &__invalid {
    display: none;
    color: var(--color-red);
    font-size: 1.1rem;
    margin-left: auto;
    font-style: italic;
  }

  &__invalid-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 2.5rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: none;
  }

  &__invalid-img {
    height: 100%;
  }

  &__terms-text {
    color: var(--color-grayish-blue);
    font-size: 1.1rem;
    text-align: center;

    @media only screen and (max-width: $bp-2) {
      width: 85%;

      align-self: center;
    }
  }

  &__terms-link {
    &:link,
    &:visited {
      color: var(--color-red);
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.heading {
  &--1 {
    font-size: 4.5rem;
    line-height: 1.2;

    @media only screen and (max-width: $bp-2) {
      font-size: 3rem;
    }
  }
}

.btn {
  &--submit {
    background-color: var(--color-green);
    border: none;
    padding: 1.5rem;
    font-size: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffffb7;
    font-family: inherit;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0.4rem 0.1rem hsla(154, 97%, 28%, 0.767);
    transition: all 0.2s;

    &:hover {
      scale: 1.05;
      box-shadow: 0 0.7rem 0.1rem hsla(154, 97%, 28%, 0.767);
      opacity: 0.8;
    }

    &:active {
      scale: 1;
      box-shadow: 0 0.4rem 0.1rem hsla(154, 97%, 28%, 0.767);
    }
  }
}

// State change styles

.unhide {
  display: block;
}

.invalid-border {
  border: 1px solid var(--color-red);
}
